<app-navbar></app-navbar>
<br>
<div style="width: 25%; height: 100px; align-items: center; position: fixed; margin-left: 25%">
  <app-message-box></app-message-box>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div *ngIf="componentService.page == Page.LIST" class="col-2">
      <app-category-tabs></app-category-tabs>
    </div>
    <div class="col-4">
      <ng-container [ngSwitch]="componentService.page">
        <app-list *ngSwitchCase="Page.LIST"></app-list>
        <app-form *ngSwitchCase="Page.NEW"></app-form>
        <app-settings *ngSwitchCase="Page.SETTINGS"></app-settings>
      </ng-container>
    </div>
  </div>
</div>
```
